<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodiePhile</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header class="header">
      <div class="logo">FoodiePhile</div>
      <nav class="nav">
        <a href="/" class="active">Home</a>
        <a href="/menu.html">Menu</a>
        <a href="/signup.html" id="authLink">Login/Signup</a>
      </nav>
    <!-- </div> -->
  </header>

  <main class="main">
    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to Our Restaurant</h1>
        <p>Experience the best food and drinks in town.</p>
        <a href="menu.html" class="btn">Explore Menu</a>
      </div>
    </section>

    <section class="popular-food" style="background-color: gray">
      <h2>Popular Food Items</h2>
      <div class="food-cards">
        <div class="food-card">
          <img src="images/food-items/pizza.jpg" alt="Pizza">
          <h3>Pizza</h3>
          <p>Cheesy and delicious pizza topped with fresh ingredients.</p>
        </div>
        <div class="food-card">
          <img src="images/food-items/burger.jpg" alt="Burger">
          <h3>Burger</h3>
          <p>Juicy burgers loaded with your favorite toppings.</p>
        </div>
        <div class="food-card">
          <img src="images/food-items/pasta.jpg" alt="Pasta">
          <h3>Pasta</h3>
          <p>Creamy and savory pasta with authentic Italian flavors.</p>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      <p>FoodiePhile Group Of Cloud Kitchens</p>
      <p>Email: ourRestaurant@gmail.com | Phone: 1010101010</p>
      <p>Open Hours:11 AM to 12PM</p>
      <p>Order Anytime...Anywhere</p>
      <div class="social-icons">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
      </div>
    </div>
  </footer>

  <script src="js/index.js"></script>
</body>
</html>
